web/WEB-INF/wsdl/localhost_8080/WebApplication1/MiServicioWeb.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://com.example.ud/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://com.example.ud/" name="MiServicioWeb">
<types>
<xsd:schema>
<xsd:import namespace="http://com.example.ud/" schemaLocation="http://localhost:8080/WebApplication1/MiServicioWeb?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="Euro2Pero">
<part name="parameters" element="tns:Euro2Pero"/>
</message>
<message name="Euro2PeroResponse">
<part name="parameters" element="tns:Euro2PeroResponse"/>
</message>
<message name="getEuro">
<part name="parameters" element="tns:getEuro"/>
</message>
<message name="getEuroResponse">
<part name="parameters" element="tns:getEuroResponse"/>
</message>
<message name="peso2Euro">
<part name="parameters" element="tns:peso2Euro"/>
</message>
<message name="peso2EuroResponse">
<part name="parameters" element="tns:peso2EuroResponse"/>
</message>
<portType name="MiServicioWeb">
<operation name="hello">
<input wsam:Action="http://com.example.ud/MiServicioWeb/helloRequest" message="tns:hello"/>
<output wsam:Action="http://com.example.ud/MiServicioWeb/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="Euro2Pero">
<input wsam:Action="http://com.example.ud/MiServicioWeb/Euro2PeroRequest" message="tns:Euro2Pero"/>
<output wsam:Action="http://com.example.ud/MiServicioWeb/Euro2PeroResponse" message="tns:Euro2PeroResponse"/>
</operation>
<operation name="getEuro">
<input wsam:Action="http://com.example.ud/MiServicioWeb/getEuroRequest" message="tns:getEuro"/>
<output wsam:Action="http://com.example.ud/MiServicioWeb/getEuroResponse" message="tns:getEuroResponse"/>
</operation>
<operation name="peso2Euro">
<input wsam:Action="http://com.example.ud/MiServicioWeb/peso2EuroRequest" message="tns:peso2Euro"/>
<output wsam:Action="http://com.example.ud/MiServicioWeb/peso2EuroResponse" message="tns:peso2EuroResponse"/>
</operation>
</portType>
<binding name="MiServicioWebPortBinding" type="tns:MiServicioWeb">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Euro2Pero">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getEuro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="peso2Euro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MiServicioWeb">
<port name="MiServicioWebPort" binding="tns:MiServicioWebPortBinding">
<soap:address location="http://localhost:8080/WebApplication1/MiServicioWeb"/>
</port>
</service>
</definitions>